<div class="page-content fade-in-up">
    <div class="row">

        <div class="col-lg-12 col-md-12">

            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Employee LIC Report Info </div>
                </div>

                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-1" data-toggle="tab" (click)="chamgeTab()"><i
                                    class="ti-bar-chart"></i>
                                Employee LIC Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2" data-toggle="tab" (click)="chamgeTab()"><i
                                    class="ti-settings"></i> Add Employee
                                LIC Detail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-3" data-toggle="tab" (click)="chamgeTab()"><i
                                    class="ti-announcement"></i> Update
                                Employee LIC Detail</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1">

                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmplyees_new" bindLabel="emp_name" (change)="changeEmployee()"
                                        bindValue="emp_id" [multiple]="false" placeholder="Select Employee"
                                        [(ngModel)]="selectEmpObj['emp_id']" [selectableGroup]="true"
                                        [selectableGroupAsModel]="false" [closeOnSelect]="true" name="field_name">
                                    </ng-select>
                                </div>

                            </div>

                            <hr>

                            <mat-form-field style="margin-left: 2%">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>

                            <div class=" example-container">
                                <table mat-table [dataSource]="datasource" matSort>
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef class="left" mat-sort-header> ID

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element; let i = index; "
                                            class="right">
                                            {{ element.id }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="company_name">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Company Name
                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.company_name }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lic_no">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>LIC No.

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.lic_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="acct_no">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Account
                                            Number

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.acct_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="tensure_of_deduction">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Tensure Of
                                            Deduction

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.tensure_of_deduction}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ifsc_code">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Bank IFSC
                                            Code

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.ifsc_code}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nom_branch_name">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Branch Name

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.nom_branch_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="deduction_from">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Deduction
                                            From

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.deduction_from}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="deduction_to">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Deduction To

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.deduction_to}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Amount

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.amount}} </td>
                                    </ng-container>







                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Action</th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">

                                            <button class="btn btn-outline-primary"
                                                (click)="openUpdate(element)">Update</button>
                                            <button class="btn btn-outline-danger"
                                                (click)="deleteLICInfo(element)">Delete</button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="tab-2">

                            <br>
                            <!--  <div class="row"  *ngIf="errorMsg!=''" style="color: red;">
                                <div class="col-12 text-center">
                                    {{errorMsg}}
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmplyees_new" bindLabel="emp_name" bindValue="emp_id"
                                        [multiple]="false" placeholder="Select Employee"
                                        [(ngModel)]="selectEmpObj['emp_id']" [selectableGroup]="true"
                                        [selectableGroupAsModel]="false" [closeOnSelect]="true" name="field_name">
                                    </ng-select>
                                </div>



                            </div>
                            <br>
                            <hr>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Company Name :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['company_name']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    LIC Number :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['lic_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Account Number :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="number" [(ngModel)]="Obj['acct_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Tensure Of Deduction :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['tensure_of_deduction']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                   IFSC CODE :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['ifsc_code']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Deduction From :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="date" [(ngModel)]="Obj['deduction_from']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Deduction To:
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="date" [(ngModel)]="Obj['deduction_to']">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-4 text-right">
                                    Amount :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="number" [(ngModel)]="Obj['amount']">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="submitLICInfo()">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-3">
                            <br>
                           <!--  <div class="row" *ngIf="errorMsg!=''" style="color: red;">
                                <div class="col-12 text-center">
                                    {{errorMsg}}
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmplyees_new" bindLabel="emp_name" bindValue="emp_id"
                                        [multiple]="false" placeholder="Select Employee"
                                        [(ngModel)]="selectEmpObj['emp_id']" [selectableGroup]="true"
                                        [selectableGroupAsModel]="false" [closeOnSelect]="true" name="field_name">
                                    </ng-select>
                                </div>



                            </div>
                            <br>
                            <hr>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Company Name :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['company_name']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    LIC Number :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['lic_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Account Number :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="number" [(ngModel)]="Obj['acct_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Tensure Of Deduction :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['tensure_of_deduction']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                   IFSC CODE :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="Obj['ifsc_code']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Deduction From :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="date" [(ngModel)]="Obj['deduction_from']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Deduction To:
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="date" [(ngModel)]="Obj['deduction_to']">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-4 text-right">
                                    Amount :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="number" [(ngModel)]="Obj['amount']">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="updateLICInfo()">Update</button>

                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>

    </div>
</div>
<ngx-spinner>Loading....</ngx-spinner>