


tr.mat-header-row {
    height: 40px !important;
}

tr.mat-row {
    height: 30px !important;
    font-size: 12px;
}

.example-container {
    max-height: 720px;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-cell {
    padding: 5px 10px 5px 0;
}

.mat-header-cell {
    padding: 5px 10px 5px 0;
}

.mat-row:nth-child(even) {
    background-color: rgb(238, 224, 226);
}

.mat-row:nth-child(odd) {
    background-color: white;
}



/* .ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
    word-wrap: normal  !important;
    white-space: normal!important;

}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: normal!important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #f5faff;
    color: #333;
    word-wrap: normal  !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: 600;
    word-wrap: normal  !important;
    white-space: normal!important;
} */

