#tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl td,
#tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tbl tr:hover {
    background-color: #ddd;
}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.r {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f2f2f2;
}

.r1 {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ddd;
}

.r3 {
    text-align: right
}

#h5 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}