<div class="page-content fade-in-up">
    <div class="row">

        <div class="col-lg-12 col-md-12">

            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Manage Leave Encashment Arrear Pay </div>
                </div>

                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-1" data-toggle="tab"><i class="ti-bar-chart"></i>
                                Employee All Arrear List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2" data-toggle="tab"><i class="fa fa-plus-circle"></i> Add Employee
                                Encashment Arrear Detail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-3" data-toggle="tab"><i class="ti-settings"></i> Update Employee
                                Encashment Arrear Detail</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1">

                            <br>




                            <mat-form-field style="margin-left: 2%">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>

                            <div class=" example-container">
                                <table mat-table [dataSource]="datasource" matSort>
                                    <ng-container matColumnDef="emp_id">
                                        <th mat-header-cell *matHeaderCellDef class="left" mat-sort-header>Employee ID

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element; let i = index; " class="right">
                                            {{mainService.accInfo['account_short_name']}}{{ element.emp_id }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="emp_name">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Employee Name

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.emp_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="designation_code">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Employee Designation

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ mainService.codeValueShowObj['HR0011'][element.designation_code]}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="areear_type">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Arrear Type

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.arrear_type}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Amount

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.amount}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="arrear_start_dt">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Arrear Start Date

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{mainService.dateformatchange(element.arrear_start_dt)}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="arrear_end_dt">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header> Arrear End Date

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ mainService.dateformatchange(element.arrear_end_dt)}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Status

                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{ element.status}} </td>
                                    </ng-container>



                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Action</th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">

                                            <button class="btn btn-outline-primary" (click)="openUpdate(element)">Update</button>
                                            <button class="btn btn-outline-danger" (click)="delete(element)">Delete</button>


                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmplyees_new" bindLabel="emp_desc" bindValue="emp_id" [multiple]="false" placeholder="Select Employee" (change)="getAllLeaveEncashment()" [(ngModel)]="selectEmpObj['emp_id']" [selectableGroup]="true" [selectableGroupAsModel]="false"
                                        [closeOnSelect]="true" name="field_name">
                                    </ng-select>


                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee Encashment :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="encashment" bindLabel="amount" bindValue="encash_id" [multiple]="false" placeholder="Select Employee" (change)="openarear()" [(ngModel)]="selectEmpObj['encash_id']" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="true"
                                        name="field_name">
                                    </ng-select>


                                </div>
                            </div>
                            <br>


                            <div class="row">
                                <div class="col-4 text-right">
                                    BASIC:
                                </div>
                                <div class="col-4">
                                    {{selectEmpObj['basic']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    OLD DA:
                                </div>
                                <div class="col-4">
                                    {{selectEmpObj['da']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    NEW DA:
                                </div>
                                <div class="col-4">
                                    <input type="number" (change)="changeda()" class="form-control" [(ngModel)]="selectEmpObj['new_da']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Start Date:
                                </div>
                                <div class="col-4">
                                    <input type="date" (change)="changeda()" class="form-control" [(ngModel)]="selectEmpObj['arrear_start_dt']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    End Date:
                                </div>
                                <div class="col-4">
                                    <input type="date" (change)="changeda()" class="form-control" [(ngModel)]="selectEmpObj['arrear_end_dt']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Total Arrear :
                                </div>
                                <div class="col-4">
                                    {{selectEmpObj['amount']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="arear()">Submit</button>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-3">
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmplyees_new" bindLabel="emp_desc" bindValue="emp_id" [multiple]="false" placeholder="Select Employee" (change)="getAllLeaveEncashment()" [(ngModel)]="selectEmpObj['emp_id']" [selectableGroup]="true" [selectableGroupAsModel]="false"
                                        [closeOnSelect]="true" name="field_name">
                                    </ng-select>


                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee Encashment :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="encashment" bindLabel="amount" bindValue="encash_id" [multiple]="false" placeholder="Select Employee" (change)="openarear()" [(ngModel)]="selectEmpObj['encash_id']" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="true"
                                        name="field_name">
                                    </ng-select>


                                </div>
                            </div>
                            <br>


                            <div class="row">
                                <div class="col-4 text-right">
                                    BASIC:
                                </div>
                                <div class="col-4">
                                    {{selectEmpObj['basic']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    OLD DA:
                                </div>
                                <div class="col-4">
                                    {{selectEmpObj['da']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    NEW DA:
                                </div>
                                <div class="col-4">
                                    <input type="number" (change)="changeda()" class="form-control" [(ngModel)]="selectEmpObj['new_da']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Start Date:
                                </div>
                                <div class="col-4">
                                    <input type="date" (change)="changeda()" class="form-control" [(ngModel)]="selectEmpObj['arrear_start_dt']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    End Date:
                                </div>
                                <div class="col-4">
                                    <input type="date" (change)="changeda()" class="form-control" [(ngModel)]="selectEmpObj['arrear_end_dt']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Total Arrear :
                                </div>
                                <div class="col-4">
                                    {{selectEmpObj['amount']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="update()">Update</button>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<ngx-spinner>Loading....</ngx-spinner>