tr.mat-header-row {
    height: 40px !important;
}

tr.mat-row {
    height: 30px !important;
    font-size: 12px;
}

.example-container {
    max-height: 720px;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-row:nth-child(even) {
    background-color: rgb(204, 204, 221);
}

.mat-row:nth-child(odd) {
    background-color: white;
}

.mat-cell {
    padding: 5px 10px 5px 0;
}

.mat-header-cell {
    padding: 5px 10px 5px 0;
}
.modal-lg {
    max-width: 80% !important;
}