tr.mat-header-row {
    height: 40px !important;
}

tr.mat-row {
    height: 30px !important;
    font-size: 12px;
}

.example-container {
    max-height: 720px;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-cell {
    padding: 5px 10px 5px 0;
}

.mat-header-cell {
    padding: 5px 10px 5px 0;
}

.mat-row:nth-child(even) {
    background-color: rgb(238, 224, 226);
}

.row1 {
    border-color: black;
    border-width: 1px;
}

.mat-row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

#tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl td,
#tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tbl tr:hover {
    background-color: #ddd;
}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d9edf7;
    color: black;
}

.r {
    text-align: right;
}