<div id="sidebar-collapse">
    <div class="admin-block d-flex">
        <div>
            <img [src]="imgURL" class="img-circle" width="53px" />
        </div>
        <div class="admin-info">
            <div class="font-strong">{{userInfo['first_name']}}</div><small>{{userInfo['designation']}}</small>
        </div>
    </div>
    <ul class="side-menu metismenu">
        <li>
            <a routerLinkActive="active" routerLink="/eng/index"><i class="sidebar-item-icon fa fa-th-large"></i>
                <span class="nav-label">DASHBOARD</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-cogs"></i>
                <span class="nav-label">ESTIMATE</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">


                <li routerLinkActive="active">
                    <a href="javascript:;"><i class="sidebar-item-icon "></i>
                        <span class="nav-label">MORTH</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-3-level collapse" routerLinkActive="in">
                        <li>
                            <a routerLink="/eng/base-item" routerLinkActive="active">Engineering Item</a>
                        </li>
                        <li>
                            <a routerLink="/eng/batch-item" routerLinkActive="active">Analysis Item (Batch)</a>
                        </li>
                        <li>
                            <a routerLink="/eng/estimate" routerLinkActive="active">ESTIMATE</a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a href="javascript:;"><i class="sidebar-item-icon "></i>
                        <span class="nav-label">SOR</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-3-level collapse" routerLinkActive="in">
                        <li>
                            <a routerLink="/eng/sor-list" routerLinkActive="active">Item List</a>
                        </li>
                        <li>
                            <a routerLink="/eng/sor-selection" routerLinkActive="active">Item Selection</a>
                        </li>
                        <li>
                            <a routerLink="/eng/sor-est" routerLinkActive="active">Estimate</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-cogs"></i>
                <span class="nav-label">ESTIMATE</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/eng/base-item" routerLinkActive="active">Engineering Item</a>
                </li>
                <li>
                    <a routerLink="/eng/batch-item" routerLinkActive="active">Analysis Item (Batch)</a>
                </li>
                <li>
                    <a routerLink="/eng/estimate" routerLinkActive="active">ESTIMATE</a>
                </li>
            </ul>
        </li> -->

        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                <span class="nav-label">EMB</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/eng/emb/field-measure" routerLinkActive="active">Field Measurement</a>
                </li>
                <li>
                    <a routerLink="/eng/emb/consumption-analysis" routerLinkActive="active">Consumption Analysis</a>
                </li>
                <li>
                    <a routerLink="/eng/emb/boq" routerLinkActive="active">BOQ</a>
                </li>
            </ul>
        </li>

        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-users"></i>
                <span class="nav-label">REGISTRATION</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/eng/reg/verification" routerLinkActive="active">Verification</a>
                </li>
                <li>
                    <a routerLink="/eng/reg/status-renewal" routerLinkActive="active">Status & Renewal</a>
                </li>

            </ul>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-gavel"></i>
                <span class="nav-label">TENDERS</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/eng/tender/exported-tender" routerLinkActive="active">Exported Tender</a>
                </li>
                <li>
                    <a routerLink="/eng/tender/imported-tender" routerLinkActive="active">Imported Tender</a>
                </li>
                <li>
                    <a routerLink="/eng/tender/evaluation" routerLinkActive="active">Tender Evaluation</a>
                </li>
                <li>
                    <a routerLink="/eng/tender/mechanism" routerLinkActive="active">Tender Mechanism</a>
                </li>

            </ul>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-user-plus"></i>
                <span class="nav-label">ADMINISTRATION</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/eng/setting/app-cat" routerLinkActive="active">Application Category</a>
                </li>
                <li>
                    <a routerLink="/eng/setting/code-value" routerLinkActive="active">Code Value</a>
                </li>
                <li>
                    <a routerLink="/eng/setting/unit-conversion" routerLinkActive="active">Unit Coversion</a>
                </li>
            </ul>
        </li>
    </ul>
</div>